 {% load staticfiles %} {% load staticfiles %} {% load return_item %}

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/student.css' %}" />
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root">
        <div>
            <div class="main-header">
                <div><a href="/"><img src="{% static 'app/css/logo.png' %}"></a></div>
                <a href="/">
                    <div class="project-name-div">Альтернативный дневник ученика</div>
                </a>
            </div>
            <div>
                <div id="top-bar" class="top-bar">
                    <p class="student-name-paragraph">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="con">
                    <div class="container">
                        {% for subject in subjects%}
                        <a href="/teacher/{{subject.name}}/{{subject.class_name.name}}">
                            <div class="menu"> {{subject.class_name.name}} {{subject.name}} </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>