{% load staticfiles %} {% load return_item %}

<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/student.css' %}" />
</head>

<body>
 
    <div id="root">
        <div>
            <div class="main-header">
                <div><img src="{% static 'app/css/logo.png' %}"></div>
                
                    <div class="project-name-div">Альтернативный дневник ученика</div>
                
            </div>
            <div>
                <div id="top-bar" class="top-bar">
                    <p class="student-name-paragraph">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="con">
                    <div id="side-bar" class="side-bar">
                        <div>
                            {% for subject in subjects%}
                            <a href="/student/{{subject.name}}/">
                                <div class="menu"> {{subject.name}} </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="container">
                        <div class="marks">
                            <table id='table' class="table table-bordered">
                        
                                <tbody>
                                <tr class="result-tr">
                                        <td>Дата</td>
                                        <td colspan="2">Аттестационные работы</td>
                                        <td colspan="2">Домашние задание и ведение тетради</td>
                                        <td colspan="2">Проектная деятельность</td>
                                        <td colspan="2">Работа на уроке</td>
                                    </tr>
                                    {% for key, value in marks.items%}
                                    <tr class="result-tr">
                                        <td>{{key}}</td>
                                        <td> {{ value|return_item:'Аттестационные работы'}}</td>
                                        <td></td>
                                        <td> {{ value|return_item:'Домашние задания и ведения тетради'}}</td>
                                        <td></td>
                                        <td> {{ value|return_item:'Проектная деятельность'}}</td>
                                        <td></td>
                                        <td> {{ value|return_item:'Работа на уроке'}}</td>
                                        <td></td>
                                        {% endfor %}
                                    </tr>
                                    <tr class="result-tr">
                                        <td>Итог</td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                      
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


    var max_mark = {{config.max_value}};
    excel_min_value = {{config.excel_min_value}};
    good_min_value = {{config.good_min_value}};
    satis_min_value = {{config.satis_min_value}};


    console.log(max_mark)
    var table = document.getElementById("table")
    rows = table.getElementsByTagName("tr")
    var columns = null
    var sums = [0,0,0,0]

    //перевод оценок в пятибалльную
    for(var i = 1; i < rows.length - 1; i++){
        columns = rows[i].getElementsByTagName("td")
        for (var j  = 1; j < 5; j++){
            
            var mark = parseInt(columns[j*2 -1].innerText, 10)
            if (isNaN(mark))
            {
                continue
            }
            if (mark >= excel_min_value)
            {
                columns[j*2].innerText = 'отлично'
                continue
            }
            if (mark >= good_min_value)
            {
                columns[j*2].innerText = 'хорошо'
                continue
            }
            if (mark >= satis_min_value)
            {
                columns[j*2].innerText = 'удовл'
                continue
            }
            columns[j*2].innerText  = 'неуд'
            

        }
     
    }


    // считаем сумму оценок по столбам и складываем в переменную sums
    for(var i = 1; i < rows.length - 1; i++){
        columns = rows[i].getElementsByTagName("td")
        for (var j  = 0; j < 4; j++){
            num = parseInt(columns[j*2 + 1].innerText, 10)
            sums[j] += isNaN(num) ? 0: num
            
        }
     
    }

    final_row = rows[rows.length - 1]
    columns = final_row.getElementsByTagName('td')
    total_sum = sums.reduce((a, b) => a + b, 0)
    columns[0].innerText = 'Итог: '+ total_sum + '/' + (rows.length - 2)* max_mark * 4 ;

    for (var i = 1; i < columns.length; i++) {
        columns[i].innerText=sums[i-1]+'/'+ (rows.length - 2)*max_mark
    }



    </script>
</body>

</html>